<div class="d-flex align-items-center mb-1 pe-4">
    <div class="d-flex align-items-center me-2 text-truncate flex-grow-1 min-w-0">
        <div class="d-flex align-items-center text-truncate">
            <span class="fw-bold text-white me-1 text-truncate">{{ user.display_name }}</span>
            <span class="text-secondary text-truncate">@{{ user.username }}</span>
        </div>
        {% if show_timestamp %}
        <div class="text-secondary ms-1 text-truncate">
            · {{ timestamp|timesince }}
        </div>
        {% endif %}
    </div>
</div>
